omegaconf
# appdirs
gdown
monai
# scikit-learn
seaborn
# pydicom
rouge_score
bert_score
stanza
f1chexbert
# radgraph # install from https://github.com/EpsilonLabsInc/radgraph_bugfree

datasets
pydicom